apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml -o kubernetes/
    kompose.version: 1.26.1 (a9d05d509)
  creationTimestamp: null
  labels:
    io.kompose.service: django
    app: django
  name: django
spec:
  ports:
    - name: "8000"
      port: 8000
      targetPort: 8000
  selector:
    app: django
